<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<body>
  <main class="page">
    <section class="shopping-cart dark">
      <div class="container">
        <div class="block-heading">
          <h2>Shopping Cart</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna, dignissim nec auctor in, mattis vitae leo.
          </p>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="items">
                <div class="product" *ngFor="let cart of data">
                  <div class="row">
                    <div class="col-md-3">
                      <img
                        class="img-fluid mx-auto d-block image"
                        src="{{ cart.book.imageURL }}"
                      />
                    </div>
                    <div class="col-md-8">
                      <div class="info">
                        <div class="row">
                          <div class="col-md-6 product-name">
                            <div class="product-name">
                              <a href="#">{{ cart.book.title }}</a>
                              <div class="product-info">
                                <div>
                                  Author:
                                  <span class="value">{{
                                    cart.book.author
                                  }}</span>
                                </div>
                                <div>
                                  Category:
                                  <span class="value"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3 quantity">
                            <label for="quantity">Quantity:</label>
                            <input
                              id="quantity"
                              type="number"
                              value="{{ cart.qty }}"
                              (change)="qtyChange($event.target.value, cart)"
                              class="form-control quantity-input"
                            />
                          </div>
                          <div class="col-md-2 price">
                            <span>{{ cart.book.price }}</span>
                          </div>
                          <div class="col-md-1 sbmincart-details-remove">
                            <button
                              (click)="removeCartById(cart)"
                              type="button"
                              class="btn"
                              data-sbmincart-idx="0"
                            >
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="summary">
                <h3>Summary</h3>
                <div class="summary-item">
                  <span class="text">Subtotal</span>
                  <span class="price">${{ cartTotalPrice }}</span>
                </div>
                <div class="summary-item">
                  <span class="text">Discount</span>
                  <span class="price">$0</span>
                </div>
                <div class="summary-item">
                  <span class="text">Shipping</span>
                  <span class="price">$0</span>
                </div>
                <div class="summary-item">
                  <span class="text">Total</span>
                  <span class="price">$360</span>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">
                  Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
